<?xml version="1.0" ?>
<launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="cartographer" doc="slam type [gmapping, cartographer, Slam toolbox]"/>
  <arg name="robot_name"  value=""/>
  

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find trog_mapping)/launch/trog_$(arg slam_methods).launch">
  </include>


</launch>
