<?xml version="1.0"?>
<launch>
    <arg name="joy_dev" default="$(optenv ANTBOT_JOY_DEVICE /dev/input/js0)" />
    <arg name="xbox" default="true" />
    <arg name="teleop" default="true"/>
    <arg name="create_map" default="true"/>
    <arg name="map_name" unless="$(arg create_map)"/> <!-- Require map name if create_map is false-->
    <arg name="use_move_base" default="true"/>
    <arg name="open_rviz" default="true"/>
    <arg name="slam_methods" default="gmapping"/>
    <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS"/>


   <!-- Start teleop node (Xbox Controller/Keyboard) -->
   <group if="$(eval arg('xbox')==1)" ns="joy_teleop">
      <group if="$(eval arg('teleop')==1)" >
         <rosparam command="load" file="$(find trog_control)/config/teleop_xbox.yaml" />
      </group>
      <node pkg="joy" type="joy_node" name="joy_node" />
      <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy">
         <remap from="/joy_teleop/cmd_vel" to="/trog_velocity_controller/cmd_vel"/>
      </node>
   </group>

   <group if="$(eval arg('xbox')==0)" ns="keyboard_teleop">
      <group if="$(eval arg('teleop')==1)" >
         <node if="$(arg teleop)" name="teleop_twist" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
 	 <remap from="cmd_vel" to="/trog_velocity_controller/cmd_vel"/> 
         </node>
      </group>
   </group>

    <!-- Start control node -->
    <include file="$(find trog_control)/launch/control.launch"/>

    <!-- Start control driver node -->
    <include file="$(find trog_control)/launch/control_driver.launch"/>

    <!-- Start sensors nodes -->
    <include file="$(find trog_sensors)/launch/sensors.launch"/>

    <!-- SLAM -->
    <include file="$(find trog_mapping)/launch/slam.launch" if="$(arg create_map)">
       <arg name="slam_methods" value="$(arg slam_methods)"/>
    </include>

    <!-- Load map -->
    <include file="$(find trog_mapping)/launch/known_map.launch" unless="$(arg create_map)">
      <arg name="map_name" value="$(arg map_name)"/>
    </include>
    
    <!-- Move Base -->
    <include file="$(find trog_2dnav)/launch/move_base.launch" if="$(arg use_move_base)">
      <arg name="base_local_planner" value="$(arg base_local_planner)"/>
    </include>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/> 


    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find trog_rviz)/rviz/trog_rviz.rviz"/>
    </group>

</launch>
